<!DOCTYPE html>
{% autoescape None %}
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/static/favicon.ico" />


        <meta name="description" content="Preview of {{filename}}">

        <title>Preview of: {{filename}}</title>

        <link rel="stylesheet" href="{{static_url('mistype.css')}}">
        <link rel="stylesheet" href="{{static_url('specific.css')}}">
        <link rel="stylesheet" href="{{static_url('github.css')}}">

        <script src="{{static_url('jquery.min.js')}}"></script>
        <script src="{{static_url('toc.jquery.min.js')}}"></script>
        <script src="{{static_url('update.js')}}"></script>
    </head>
    <body>
        <div id="layout">
            <div id="menu">
                <span class="title">Contents</span>
                <div id="toc"></div>
            </div>
            <div id="main">
                <div class="content">
                    {{contents}}
                </div>
            </div>
        </div>
        <script>
        // Create Table of contents
        $('#toc').toc();
        </script>
    </body>
</html>
